﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Techro is a modern and fully responsive Template by WebThemez.">
    <meta name="author" content="webThemez.com">
    <title>Techro - Flat Free Responsive bootstrap template</title>
    <link rel="favicon" href="assets/images/favicon.png">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <!-- Custom styles for our template -->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Fixed navbar -->
    @Html.Partial("Nav")
    <!-- /.navbar -->
    @RenderBody()
    <!-- Header -->
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>
